body {
    margin: 0 auto;
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
}

#app {
    text-align: center;
    margin: 0 auto;
    width: 80%;
    position: relative;
    background-color:#F9C102;
    max-width: 1000px;
}

.holder {
    margin-bottom: 10%;
}

textarea {
    height: 50px;
    width: 50%;
}

label, button {
    display: block;
}

.heading {
    font-size: 1.5em;
}

.myInput {
    min-width: 200px;
    max-width: 500px;
}

button {
    margin: 0 auto;
}

.entry {
    min-height: 200px;
}