body {
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
}

#app {
    text-align: center;
    margin: 0 auto;
    width: 80%;
    position: relative;
    background-color:#f41e5b;
}

.holder {
    margin-bottom: 10%;
}

textarea {
    height: 50px;
    width: 50%;
}

label, button {
    display: block;
}

.heading {
    font-size: 1.5em;
}

.myInput {
    background-color: #f2abbf;
}

button {
    margin: 0 auto;
}